.department-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 25% 75%;
  grid-template-areas: "sidebar main";
}

.side-bar {
  display: block;
  grid-area: sidebar;
  background-color: #f0f0f0;
  padding: 20px;
  position:fixed;
  top: 60px; /*compenssated for navbar*/
  bottom: 0px;
  width: 25%;
  overflow-y: auto;
  box-sizing: border-box;
}

.main {
  grid-area: main;
  background-color: #e0e0e0;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.question-container {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.question {
  padding: 20px;
}

.question h3 {
  margin: 0;
  padding-bottom: 10px;
}

.question button {
  background-color: #ff3333;
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Smooth transition */
}
.question button:hover {
  transform: scale(1.01); /* Increase size on hover */
}

.reply {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 0.9em; /* smaller font size for replies */
}

.reply p:first-child {
  margin-top: 0; /* remove top margin for first paragraph in reply */
}

.reply p:last-child {
  margin-bottom: 0; /* remove bottom margin for last paragraph in reply */
}



/*When Clicked on */
.active {
  background-color: #cc0033; /* Yellow background: #ffcc00 */
  border: 2px solid #000000; /* Orange border: #ff9900 */
  color: #FFFFFF;               /* Dark text color: #333 */
  font-weight: bold; /* Bold text */
}


/*Question Page */
.textarea, .reply-textarea{
  width: 100%;
  min-height: 100px; /* Adjust the minimum height as needed */
  resize: vertical; /* Allow vertical resizing */
}



/* Add these styles to your CSS */

.user-info {
  display: flex;
  align-items: center; /* Align items vertically */
}

.user-link {
  display: flex;
  align-items: center; /* Align items vertically */
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}

.profile-pic {
  width: 30px; /* Set the width */
  height: 30px; /* Set the height */
  margin-right: 10px; /* Add some margin to the right */
  border-radius: 50%; /* Make it circular */
}

.user-link:hover {
  text-decoration: underline; /* Add underline on hover */
}


/* Dropdown Menu */
.dropdown {
  position: relative;
  display: none;
}

.dropdown-icon {
  margin-left : 10px;
}


@media screen and (max-width: 768px) {

  .department-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto; /* Change to auto for single column layout */
    grid-template-areas: "main"; /* Only main area on smaller screens */
  }

  .side-bar {
    display: none; /* Hide sidebar on smaller screens */
  }

  .dropdown {
    display: inline-block; /* Show dropdown button on smaller screens */
  }

  /* Dropdown Button */
  .dropbtn {
    background-color: #721212;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content button {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content button:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  

}

