.department-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 25% 75%;
  grid-template-areas: "sidebar main";
}

.side-bar {
  grid-area: sidebar;
  background-color: #f0f0f0;
  padding: 20px;
  position:fixed;
  top: 60px; /*compenssated for navbar*/
  bottom: 0px;
  width: 25%;
  overflow-y: auto;
  box-sizing: border-box;
}

.main {
  grid-area: main;
  background-color: #e0e0e0;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.question-container {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.question {
  padding: 20px;
}

.question h3 {
  margin: 0;
  padding-bottom: 10px;
}

.question button {
  background-color: #ff3333;
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Smooth transition */
}
.question button:hover {
  transform: scale(1.01); /* Increase size on hover */
}

.reply {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 0.9em; /* smaller font size for replies */
}

.reply p:first-child {
  margin-top: 0; /* remove top margin for first paragraph in reply */
}

.reply p:last-child {
  margin-bottom: 0; /* remove bottom margin for last paragraph in reply */
}



/*When Clicked on */
.active {
  background-color: #E70000; /* Yellow background: #ffcc00 */
  border: 2px solid #FFEC2D; /* Orange border: #ff9900 */
  color: #FFFFFF;               /* Dark text color: #333 */
  font-weight: bold; /* Bold text */
}


/*Question Page */
.textarea, .reply-textarea{
  width: 100%;
  min-height: 100px; /* Adjust the minimum height as needed */
  resize: vertical; /* Allow vertical resizing */
}
