/* HomePage.css */
.homepage-container {
    padding: 20px;
  }
  
  .departments-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .department-button {
    font-size: 24px;
    background-color: red;
    color: black;
    width: 190px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: width 0.3s, height 0.3s; /* Smooth transition animation */
  }
  .department-button:hover {
    width: 210px; /* Increase width on hover */
    height: 110px; /* Increase height on hover */
  }
  
  .submit-button {
    margin-top: 20px;
    font-size: 20px;
  }

  /*for the links*/
  a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }
  