/* HomePage.css */
.homepage-container {
    padding: 50px;
  }
  
  .departments-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 80px;
  }
  
  .department-button {
    font-size: 24px;
    background-color: #cc0033;
    color: white;
    border: none; /* No border for a cleaner look */
  border-radius: 20px; /* Slight roundness to buttons */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 210px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: width 0.3s, height 0.3s; /* Smooth transition animation */
  }
  .department-button:hover {
    width: 210px; /* Increase width on hover */
    height: 110px; /* Increase height on hover */
  }
  
  .submit-button {
    margin-top: 20px;
    font-size: 20px;
  }

  /*for the links*/
  a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }
  