.navbar-container {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0px; /* Increase padding to move navbar down */
  width: 100%;
  box-sizing: border-box;
  position: relative; /* Add relative positioning to the navbar */
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem; /* Keep font size the same as before */
  display: flex;
  align-items: center;
  margin-top: 10px; /* Move logo down */
}

.logo img {
  width: 63px; /* Keep width the same as before */
  height: auto;
  margin-right: 20px; /* Keep margin the same as before */
  margin-left: 20px;
  margin-bottom: 10px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-menu ul {
  display: flex;
  list-style: none;
}

.navbar-menu li {
  margin-left: 25px; /* Increase spacing between menu items */
}

.navbar-menu li:first-child {
  margin-left: 0;
}

.navbar-menu li a {
  color: #fff; /* color of menu items: #fff */
  text-decoration: none;
}
/* When hovering with mouse/ cursor */
.navbar-menu li a:hover {
  text-decoration: underline;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin-right: 15px; /* Increase margin for larger toggle button */
}

.menu-toggle span {
  display: block;
  width: 40px; /* Increase size of toggle icon */
  height: 5px; /* Increase size of toggle icon */
  background-color: #fff;
  margin-bottom: 8px; /* Adjust spacing between toggle icon bars */
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 130px; /* Adjust position to below the navbar */
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 30px 0; /* Increase padding for larger navbar */
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-menu ul {
    flex-direction: column;
    list-style: none;
  }

  .navbar-menu li {
    margin: 0;
    text-align: center;
    margin-bottom: 40px; /* Increase spacing between menu items */
  }
}
