/* ProfilePage.css */

/* Container styles */
.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* White background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
.profile-heading {
    font-size: 28px;
    font-weight: bold;
    color: #c41e3a; /* Rutgers red */
    margin-bottom: 20px;
}

/* Profile picture styles */
.profile-picture {
    text-align: center; /* Center the image */
    margin-bottom: 20px; /* Add some space below the image */
}

.profile-picture img {
    width: 200px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Make it circular */
}

/* Info styles */
.profile-info {
    display: flex;
    flex-wrap: wrap;
}

.info-item {
    flex-basis: 100%;
    margin-bottom: 20px;
}

.info-item label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Make label text bold */
    text-align: left;
}

.info-item input,
.info-item textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #c41e3a; /* Rutgers red */
    border-radius: 5px;
    box-sizing: border-box;
}

/* Two-column layout for specific items */
.info-item.double-column {
    flex-basis: 50%;
}

.info-item.double-column label {
    width: 50%;
}

.info-item.double-column input,
.info-item.double-column textarea {
    width: calc(100% - 10px);
}

/* List styles */
.profile-info .textbox {
    border: 1px solid #c41e3a; /* Rutgers red */
    border-radius: 5px;
    padding: 10px;
    text-align: left;
}

.profile-info ul {
    margin: 0;
    padding: 0;
    list-style-type: none; /* Remove default bullet points */
}

.profile-info li {
    margin-bottom: 5px;
}

/* Strong styles */
.profile-info p strong {
    font-weight: bold;
    color: #c41e3a; /* Rutgers red */
}