/* registration.css */

.registration-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px; /* Set maximum width */
    margin: 0 auto; /* Center horizontally */
    border: 2px solid red; /* Changed border style */
    background-color: rgb(255, 0, 0); /* Changed background color */
  }
  
  .registration-header {
    color: black;
    margin: 0.5rem 0; /* Adjusted vertical margin */
    text-align: center; /* Centered the text */
    font-weight: bold; /* Corrected typo in font-weight */
    padding: 1rem; /* Increased padding */
    font-size: 25px; /* Increased font size */
    border-radius: 20px 20px 0 0; /* Rounded corners for header */
    text-decoration: underline;
  }
  
  .registration-content {
    flex: 1;
    background-color: white; /* Changed background color */
    width: 100%;
    border-radius: 20px 20px 0 0; /* Adjusted border-radius */
  }
  
  /* Media Query for responsiveness */
  @media (max-width: 768px) {
    .registration-container {
      width: 90%; /* Adjusted width for smaller screens */
      padding: 10px; /* Adjusted padding */
    }
  }
  